{{define "footer"}}
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      <span>&copy; 2026 Christo Zietsman</span>
      <span class="footer-links">
        <a href="https://doi.org/10.48550/arXiv.2603.25773">arXiv Paper 1</a>
        <a href="https://doi.org/10.48550/arXiv.2604.21090">arXiv Paper 2</a>
	<a href="https://github.com/czietsman">GitHub</a>
        <a href="https://www.linkedin.com/in/christo-zietsman/">LinkedIn</a>
      </span>
    </div>
  </footer>
{{- end}}
